.app {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-header {
  background-color: rgb(60, 60, 60);
  height: 50px;
  width: 100%;
  padding: 5px;
  color: white;
}

.places-hamburger {
  display: none;
}

.app-title {
  font-size: 1.5em;
}

.places-list {
  width: 20%;
  background-color: rgb(60, 60, 60);
  height: calc(100% - 55px);
}

.map {
  width: 80%;
  height: 100vh;
}

@media screen and (max-width: 625px) {
  .places-hamburger {
    display: block;
    position: absolute;
    height: 100%;
    right: 0;
    padding: 1em;
  }

  .places-hamburger svg {
    width: 32px;
    fill: #E0E0E0;
  }

  .map {
    width: 100%;
  }

  .places-list {
    z-index: 10;
    position: absolute;
    width: 300px;
    left: 0;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }

  .places-list.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
