.app {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-header {
  background-color: rgb(75, 75, 75);
  height: 50px;
  width: 100%;
  padding: 5px;
  color: white;
}

.places-hamburger {
  display: none;
}

.app-title {
  font-size: 1.5em;
}

.places-search-list {
  width: 25%;
  background-color: rgb(60, 60, 60);
  height: calc(100vh - 55px);
}

.places-list {
  width: 100%;
  list-style: none;
  text-align: left;
  color: white;
}

.place-list-item {
  background-color: rgb(60, 60, 60);
  text-align: left;
  color: white;
  border: none;
  font-size: 0.8em;
  padding-bottom: 4%;
}

.map-container {
  position: relative;
  width: 75%;
  height: calc(100vh - 55px);
}

.map {
  width: 75%;
  height: auto;
}

@media screen and (max-width: 780px) {
  .place-list-item {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 710px) {
  .place-list-item {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 625px) {
  .places-hamburger {
    display: block;
    position: absolute;
    height: 100%;
    right: 0;
    padding: 1em;
  }

  .places-hamburger svg {
    width: 32px;
    fill: #E0E0E0;
  }

  .map-container {
    width: 100%;
  }

  .places-search-list {
    z-index: 10;
    position: absolute;
    width: 300px;
    height: 100vh;
    left: 0;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }

  .places-search-list.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .places-search-bar {
    padding-top: 55px;
  }

  .place-list-item {
    font-size: 0.8em;
  }
}
